h1 {
    color:blue;
}

h2 {
    color:  blueviolet;
}

h3 {
    color:darkslateblue;
}

body {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    background-color: lightgoldenrodyellow;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 50px;
}

#Wireframes {
    color:cornflowerblue;
}

.Sitemap {
    background-color: lightsteelblue;
    padding: 50px;
}